<div class="logo">
    <a href="/">
        <img src='img/paw-print-md-50x50-white.png' />
        <span id="appname"><%= name %></span>
    </a>
</div>

<div class="menu">

  <ul>         
    
    <!--
    <li class="not-logged-in"><a href="#" class="add fancybox-login">events</a>

        <ul class="submenu">
            <li><a href="#" class="add">add</a></li>
            <li><a href="#" class="list">my events</a></li>
        </ul>
    </li>
    <li class="not-logged-in">
    -->

    <li>
      
      <a href="#" class="login">
          
          <!--<img src='img/downarrow.png' style="height:5px; padding-left:10px;" />-->
          <img src="" class="image" />
          <span class="text">login</span>
      </a>

      <ul class="submenu">                    	
          <!--<li><a href="#" class="details">Account details</a></li>
          <li><a href="#" class="change-password">Change Password</a></li>-->
          <li><a href="#" class="logout">log out</a></li>
      </ul>
    </li>

  </ul>

</div>