<div class="padder">

    <h5>NETWORKING</h5>


    <ul class="networks">

        <li class="facebook active">

            <table>
                <tr>
                    <td><img src='img/buttons/facebook-button.png' title="facebook"/></td>
                    <td><span class="message">0 friends</span></td>
                    <td><span class='count'>0 events</span></td>
                </tr>
            </table>

        </li>

    <!--            
        <li >
            <a href="#" class="dawg">
                <img style="width:31px;" src='img/paw-print-md-50x50-black.png' title="event dawg"/>
                <span>event dawg</span>
                <span class='count' style="float: right;">0 events</span>
            </a>
        </li>

        <li>
            <a href="#" class="google">
                <img style="width:31px;" src='img/buttons/google-plus.png' title="google plus"/>
                <span>google plus</span>
                <span style="float: right">0 events</span>
            </a>
        </li>            
        <li>
            <a href="#" class="planvine">
                <img src='img/buttons/planvine-button.png' title="planvine"/>
                <span>planvine</span>
                <span style="float: right">0 events</span>
            </a>
        </li>
          
        <li>
            <a href="#" class="favourites" title="favourites">                
                <img src='img/buttons/favourite-button.png' title="favourites"/>
                <span>favourites</span>
                <span class="count" style="float: right;">0 events</span>
            </a>
        </li>
        -->
    </ul>


    </div>