<div class="control-bar">
    
    <!--
    <div class="mode-button-controls" style="border-bottom: 1px solid #999; border-right: 1px solid #999;">
        
        <div style="padding:15px; text-align: center;">
            <div class="play-animation-btn"></div>
            <a href="#" class="btn-mapstyle" title="map style"><img src='img/buttons/map-button.gif' /></a>
            <a href="#" class="btn-home" title="home"><img src='img/buttons/home-button.gif' /></a>
            <a href="#" class="btn-facebook" title="facebook events"><img src='img/buttons/facebook-button.gif' /></a>
            <a href="#" class="btn-list-cat" title="list events"><img src='img/buttons/list-button.gif' /></a>
            <a href="#" class="btn-favourites" title="favourites"><img src='img/buttons/favourite-button.gif' /></a>
            <a href="#" class="btn-options" title="options"><img src='img/buttons/settings-button.gif' /></a>
        </div>
        
    </div>
    -->

    <div>
        <div class="slider-markings"></div>
        <div id="slider"></div>
    </div>    

</div>