<div class="padder">

    <div style="margin-bottom: 8px;"><h5>WHEN</h5></div>

        <!--
    <ul>

        <li><a class="day active" href="#"><span>Today </span><div class="radio"><div class="dot"></div></div></a></li>
        <li><a class="week " href="#"><span>This Week </span><div class="radio"><div class="dot"></div></div></a></li>
        <li><a class="month" href="#"><span>This Month </span><div class="radio"><div class="dot"></div></div></a></li>
        <li><a class="year" href="#"><span>This Year </span><div class="radio"><div class="dot"></div></div></a></li>
        

        <li><a class="btn day active" href="#">Today</a></li>
        <li><a class="btn week " href="#">This Week</a></li>
        <li><a class="btn month" href="#">This Month</a></li>
        <li><a class="btn year" href="#">This Year</a></li>
        <li><a class="btn range" href="#">Range</a></li>
    </ul>
    -->

    <div class="table">
        <div class="row">
            <div class="cell"><a class="btn day" href="#">Today</a></div>
            <div class="cell"><a class="btn week " href="#">This Week</a></div>
            <div class="cell"><a class="btn month" href="#">This Month</a></div>
            <div class="cell"><a class="btn year active" href="#">This Year</a></div>
            <div class="cell"><a class="btn range" href="#">Range</a></div>
            <div class="cell"><input id="start_date" readonly="readonly" /></div>
            <div class="cell"><input id="end_date" readonly="readonly" /></div>
        </div>
    </div>

    <div class="clear"></div>

    <div class="time-slider-bar"></div>
</div>
