<div class="table">

    <div class="row">

        <div class="cell"><a class="friends-btn _42ft _42fu" href="#" >Friends</a></div>
        <div class="cell"><a class="events-btn _42ft _42fu" href="#" >Events</a></div>
        <div class="cell"><a class="public-btn _42ft _42fu" href="#" >Public</a></div>
        <div class="cell"><a class="add-btn _42ft _42fu" href="#" >Add</a></div>
        <div class="cell"><a class="expand-btn _42ft _42fu"> &#x25BC;</a></div>
        <div class="cell">
            <a class="list-btn _42ft _42fu"> 
                <div style="margin-top: 3px; margin-bottom: 3px;">
					<div class='rounded-rectangle'></div>
					<div class='rounded-rectangle'></div>
					<div class='rounded-rectangle'></div>
                </div>

            </a>
        </div>

    </div>

</div>



        <!-- &#x25B2; -- >
<!--<div class="table">
    <div class="row">
        <div class="cell">status</div>
        <div class="cell rsvp-status"></div>
        <div class="cell">sort</div>
        <div class="cell sort"></div>
    </div>
</div>-->

        <!--<div class="nano facebook-filter-nano">
	        <div class="content">   -->
<div class="list"></div>
                <!--</div>
            </div>-->
